[submodule "Engine/ThirdParties/glfw"]
	path = Engine/ThirdParties/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/ThirdParties/glm"]
	path = Engine/ThirdParties/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/ThirdParties/tinyobjloader"]
	path = Engine/ThirdParties/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Engine/ThirdParties/stb"]
	path = Engine/ThirdParties/stb
	url = https://github.com/nothings/stb.git
